

<launch>

    <!-- 启动节点 -->
    <node name="lesson4_occupancy_grid_node"
        pkg="lesson4" type="lesson4_occupancy_grid_node" output="screen" />
    
    <!-- launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find lesson4)/config/occupancy_grid.rviz" />


</launch>
